<div id="jsonData"></div>
<script type="text/javascript">
	$(document).ready(function(){
    $.ajax({
			url: '/feed',
      method: 'GET',
      success: function(res){
        $("#jsonData").html(JSON.stringify(res))
      },
      error: function(res){
        $("#jsonData").html(JSON.stringify(res))
      }
		})
	})
</script>